<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="Js/check.js"> </script>

</head>
<body>
<link rel="stylesheet" href="https://bootstraptema.ru/plugins/2015/bootstrap3/bootstrap.min.css" />
<link type="text/css" rel="StyleSheet" href="https://bootstraptema.ru/plugins/2016/shieldui/style.css" />
<script src="https://bootstraptema.ru/plugins/jquery/jquery-1.11.3.min.js"></script>
<script src="https://bootstraptema.ru/plugins/2016/shieldui/script.js"></script>

<br><br><br>

<div class="container">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">

        </div><!-- /.col-md-8 col-md-offset-2 -->
    </div><!-- /.row -->
</div><!-- /.container -->
<!--<header th:insert="blocks/header :: header" ></header>-->
<div class="container mt-5">
    <h1>Отклонение показаний от среднего значения</h1>
    <table>
        <tr>
            <td>number</td>
            <td>temp</td>
        </tr>
        <tr th:each="temp : ${data}" class="alert alert-info mt-2">
            <td th:text="${temp.id}"></td>
            <td th:text="${temp.temperature}"></td>
        </tr>
    </table>
</div>
<form method="post">
    <input type = "submit" name="but" value="Mail">
</form>

</body>
</html>