<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div th:text="${errorMessage}"></div>
<aside class="col-sm-4">
    <div class="card">
        <article class="card-body">
            <a href="/login" class="float-right btn btn-outline-primary">Sign in</a>
            <h4 class="card-title mb-4 mt-1">Sign up</h4>
            <form method="post" modelAttribute="userForm">
                <div class="form-group">
                    <label>Username</label>
                    <input name="username" class="form-control" placeholder="Username" type="text">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Your email</label>
                    <input name="email" class="form-control" placeholder="Email" type="email">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Your password</label>
                    <input name="password" class="form-control" placeholder="******" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <label>Confirm your password</label>
                    <input name="passwordConfirm" class="form-control" placeholder="******" type="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Sign in  </button>
                </div> <!-- form-group// -->
            </form>
        </article>
    </div> <!-- card.// -->

</aside>
</body>
</html>