<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script type="text/javascript" src="Js/check.js"> </script>
</head>
<body>
<script type="text/javascript">
function check(field, flag) {
 if (field[0].checked == false) { for (i=0; i<field.length; i++) field[i].checked = true; }
 else { for (i=0; i<field.length; i++) field[i].checked = false; }
}
</script>
<!--<header th:insert="blocks/header :: header" ></header>-->
<div class="container mt-5">
    <h1>Users from site</h1>
    <form action="/users" method="post">
        <input type="submit" name="action" value="block">
        <input type="submit" name="action" value="unblock">
        <input type="submit" name="action" value="delete">
    <table>

    <tr>
        <td><input type="checkbox" name="listAll" th:value="listAll" onclick="check(this.form.checkId, 1)"></td>
        <td>id</td>
        <td>name</td>
        <td>email</td>
        <td>register date</td>
        <td>login date</td>
        <td>status</td>
    </tr>
    <tr th:each="user : ${users}" class="alert alert-info mt-2">
        <td><input type="checkbox" name="checkId" th:value="${user.id}"></td>
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.registrationDate}"></td>
        <td th:text="${user.loginDate}"></td>
        <td th:text="${user.status}"></td>
        </tr>
    </table>
    </form>
</div>

</body>
</html>